<h1>This is the Word-counting Program!</h1>
<form action="/inputs">
  <div class="form-group">
    <label for "user_word">Enter the word you would like counted:</label>
    <input id="user_word" name="user_word" class="form_control" type="text">
    <h1></h1>
    <label for "user_sentence">Enter the sentence you would like counted:</label>
    <input id="user_sentence" name="user_sentence" class="form_control" type="text">
  </div>
  <button type="submit" class="btn-success">Get the count!</button>
